<html>

<head>
  <link rel="stylesheet" type="text/css" href="main.css" media="screen">
  <!--link rel="stylesheet" type="text/css" href="_styles.css" media="screen"-->
  <!--script type="text/javascript" src="jquery-1.4.2.min.js"></script-->
  <style>body, html { margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden };</style>
</head>

<body>
  <script type="text/javascript" src="/uki/frontend.cjs"></script>
</body>

</html>